@if (menuItems.length > 0) {

  <div class=" text-3xl pb-4">
    ¡Hola,
    @if (currentUser){
      {{currentUser.full_name}} !

        Rol {{currentUser.role}}

    }
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
    @for (item of menuItems; track item.label) {
      <p-card
        [style]="{ 'cursor': 'pointer' }"
        (click)="navigateTo(item.routerLink)"
        class="hover:shadow-lg hover:bg-blue-100 transition-all duration-300 h-full flex flex-col"
      >
        <!-- Header con título centrado -->
        <ng-template pTemplate="header">
          <div class="text-center">
            <div class="flex justify-center p-4">
              <i [class]="item.icon" style="font-size: 2.0rem" class="text-8xl text-primary"></i>
            </div>
            <h2 class="text-xl font-semibold text-center p-2">{{ item.label }}</h2>
          </div>
        </ng-template>

      </p-card>
    } @empty {
      <div class="col-span-full text-center p-8">
        <p class="text-gray-500">No hay elementos para mostrar</p>
      </div>
    }
  </div>
}
